@import url('./reset.css');

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
#output {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-style: italic;
  color: #333;
}
#tse {
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
}

pre {
  color: pink;
  margin-bottom: 12px;
}

#tse p {
  white-space: pre-wrap;
}

#tse p:empty::before {
  content: '\00a0'; /* 공백 문자 추가 */
  display: inline-block;
}

#tse b {
  font-weight: bold;
}
#tse i {
  font-style: italic;
  /*아래는 분별을 쉽게하기 위해 임시 처리*/
  font-weight: bold;
  color: violet;
}
